
.tooltip {
    [data-part="arrow"] {
        --arrow-size: 6px;
    }
}

.tooltip {
    [data-part="arrow"] {
        --arrow-background: theme("colors.black");
    }
}

.dark .tooltip {
    [data-part="arrow"] {
        --arrow-background: theme("colors.white");
    }
}